################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/MineSweeper/x64/Debug
/.vs/MineSweeper
/.vs
